body
{
  background-image: url(https://www.usa.philips.com/c-dam/b2bhc/master/Products/Category/magnetic-resonance/mr-therapy/mr-therapy-HC781439.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  
  

}
h1
{
  color: darkblue;

}



button
{
  font-weight: bold;
  margin: 5px;
  color: blue;
  border-radius: 5px;
  border-color: darkblue;
}

button:hover
{
  background-color:yellow ;
}